[user]
	name = asuka
	email = asuka@microbridge.jp
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
	autocrlf = input
	excludesfile = /Users/asuka/.gitignore_global
	editor = vim
[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	co = checkout

[mergetool]
	keepBackup = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
