ensime_*
.vim/bundle/.neobundle
.vim/bundle/NeoBundle.lock
.vim/bindle/*
.vim/shada
.vim/eclim
.vim/plugin/eclim.vim
.project
.idea
.netrwhist
.emacs.d/elpa
.emacs.d/ac-comphist.dat
.emacs.d/eshell
.emacs.d/ensime
.emacs.d/.recentf
.emacs.d/recentf
