[submodule ".vim/bundle/scala.vim"]
	path = .vim/bundle/scala.vim
	url = https://github.com/bdd/vim-scala.git
[submodule ".vim/bundle/neocomplcache.vim"]
	path = .vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/vim-addon-sbt"]
	path = .vim/bundle/vim-addon-sbt
	url = https://github.com/MarcWeber/vim-addon-sbt.git
[submodule ".vim/bundle/ensime"]
	path = .vim/bundle/ensime
	url = https://github.com/MarcWeber/ensime.git
[submodule ".vim/bundle/vim-addon-manager"]
	path = .vim/bundle/vim-addon-manager
	url = https://github.com/MarcWeber/vim-addon-manager.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-addon-actions"]
	path = .vim/bundle/vim-addon-actions
	url = https://github.com/MarcWeber/vim-addon-actions.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = https://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = http://github.com/gmarik/vundle.git
