[user]
	name = itoasuka
	email = itoasuka@gmail.com
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
	autocrlf = input
	excludesfile = /Users/itouasuka/.gitignore
[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short

